[user]
name          = Kevin Zapata
email         = kevin.c.zapata@gmail.com

[init]
defaultBranch = main

[alias]
editcommit    = commit --amend
recommit      = commit --amend --no-edit
uncommit      = reset HEAD~1

